:root {
  --header-background: #111827;
  --header-text: #e2e8f0;
  --body-background: #f1f5f9;
  --body-text: #111827;
  font-family: "futura-pt";
}

header,
header h1 {
  color: var(--header-text);
  background-color: var(--header-background);
}
body {
  background-color: var(--body-background);
}
body,
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--body-text);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5em;
  font-weight: 800;
}
button {
  border: none;
  cursor: pointer;
}
section {
  height: 100vh;
}
.fancy-font {
  font-family: "bely-display", sans-serif;
}
.center {
  margin: 0 auto;
}
.h-cen {
  display: flex;
  justify-content: center;
}
.v-cen {
  display: flex;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
}
.button-1 {
  border: none;
  font-family: "futura-pt";
  font-size: 1.5em;
  background-color: black;
  color: white;
  padding: 0.125em 1.75em;
  border-radius: 100em;
}
